
body {
	font: 90% helvetica, sans-serif;
	background: linear-gradient(to bottom, #bfbfbf 0%, #000000 100%);
	}
h1 {
  font-size: 50px;
  font-weight: bolder;
  line-height: 1.5;
  padding: 50px 0px 50px 0px;
  margin: -10px -10px 0px -10px;
  border-style: solid;
  border-color: #ffffe6;
  border-top: none;
  border-right: none;
  border-bottom-width: 2px;
  border-left: none;
  background-color: #805500;
}
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 30px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #ffffe6;
  }
  #img-caption {
    font-size: 14px;
    padding: 10px 0px 0px 0px;
    margin-left: 178px;
  }
  .timeline-heading {
    color: #ffffe6;
    font-size: 30px;
  }
  #flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  height: auto;
  color: #ffffe6;
  border-style: double;
  border-width: 1px 1px;
  border-spacing: 35px;
}
ul {
    list-style-type: none;
    line-height: 3;
}
#year {
  flex-direction: column;
  height: inherit;
}
#event {
  flex-direction: column;
  height: inherit;
}
#character-link {
    color: #805500;
  }
#tribute-link {
    color: #805500;
    }
