
body {
	font: 90% helvetica, sans-serif;
	background: linear-gradient(to bottom, #bfbfbf 0%, #000000 100%);
	}
h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  line-height: 1.5;
  padding: 50px 0px 50px 0px;
  margin: -10px -10px 0px -10px;
  border-style: solid;
  border-color: #ffffe6;
  border-top: none;
  border-right: none;
  border-bottom-width: 2px;
  border-left: none;
  background-color: #805500;
}
  .q-img {
    margin-top: 30px;
    width: 70%;
  }
  .center {
		max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffe6;
  }
  .img-caption {
    font-size: 14px;
    padding: 10px 0px 0px 0px;
    margin-left: 178px;
  }
  .timeline-heading {
    color: #ffffe6;
    font-size: 30px;
    text-align: center;
  }
  .flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  height: auto;
  width: 65%;
  color: #ffffe6;
  border-style: solid;
  border-width: 1px;
  border-spacing: 35px;
	overflow: hidden;
}
ul {
    list-style-type: none;
    line-height: 3;
}
.year {
  flex-direction: column;
  height: inherit;
}
.event {
  flex-direction: column;
  height: inherit;
}
.character-link {
    color: #805500;
  }

	@media screen and (max-width: 1000px) {
  .year {
    display: none;
  }
}
